{% extends "patternForTables.html" %}
{% block head %}
<link href="{{ url_for('static', path='/abc/products.css') }}" rel="stylesheet">

{% endblock %}


{% block title %}
    ABC-анализ
{% endblock %}


{% block options %}
        <a href="{{ url_for('prod_table') }}">Статистика</a>
        <a href="{{ url_for('abc_table') }}" class="selected">ABC-анализ</a>
{% endblock %}


{% block nameoftable %}
    Результаты <br>ABC-анализа
{% endblock %}


{% block headbuttons %}
        <label for="months">За последние</label>
        <select name="months" id="months">
            {% for i in range(1, 13) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <label for="months">месяцев(а)</label>
        <input class="search" placeholder="Найти по наименованию">
        <a href="{{ url_for('add_product') }}">
            <button class="batt">Добавить товар</button>
        </a>
{% endblock %}


{% block headrow %}
                    <div class="tableElem t0">Наименование товара</div>
                    <div class="tableElem t1">Процент от выручки, %</div>
                    <div class="tableElem t1">Суммарная выручка <br>за период, р</div>
                    <div class="tableElem t1">Категория товара</div>
{% endblock %}


{% block script %}
<script src="{{ url_for('static', path='/abc/js.js') }}"></script>
{% endblock %}
