{% extends "operations/patternOperations.html" %}
{% block head %}
    <link href="{{ url_for('static', path='/operations/sale/sale.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}


{% block title %}
    Продажи
{% endblock %}


{% block nameoftable %}
    Продажи
{% endblock %}


{% block headbuttons %}
        <a href="{{ url_for('add_sale') }}">
            <button class="batt">Добавить продажу</button>
        </a>

{% endblock %}


{% block headrow %}
        <div class="tableElem t0">№</div>
        <div class="tableElem t2">На сумму</div>
        <div class="tableElem t1">Склад</div>
        <div class="tableElem t2" id="SortByDate">Дата</div>
        <div class="tableElem t0"></div>
{% endblock %}


{% block realscript %}
<script src="{{ url_for('static', path='/operations/sale/js.js') }}"></script>
{% endblock %}
